@font-face {
   font-family: 'Dji-Bold';
   font-display: swap;
   src: url('file:///C:/Users/James%20Huang/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-12-29_172220/fonts/Dji-Bold/font.ttf');
}
